body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: sans-serif;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.header-logo {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.nav-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 12px;
}

.nav-item {
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    padding: 24px;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 20px;
}

.search-input {
    width: 280px;
    padding: 12px;
    border: 2px solid grey;
    border-radius: 6px;
    margin-right: 12px;
}

.search-btn {
    background-color: #8daaf3;
    border: 0px;
    border-radius: 4px;
    width: 75px;
    cursor: pointer;
    font-weight: 700; 
}

.search-btn:hover {
    background-color: #5b86f3;
}

.get-top-rated-btn {
    width: 240px;
    align-self: center;
    cursor: pointer;
    outline: none;
}

.restuarant-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    width: 90%;
    align-self: center; 
}

.restuarant-card-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 180px;
    height: 270px;
    border: 1px solid #f1e9e9;
    margin: 8px 8px;
    cursor: pointer;
}

.restuarant-card-container:hover {
    width: 200px;
}

.card-logo {
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}

.restuarant-card-details-container {
    display: flex;
    flex-direction: column;
    padding: 4px 0px;
}

.restuarant-name {
    font-weight: 500;
    font-size: 16px;
    margin: 8px 0px;
    letter-spacing: 0.5px;
}

.restuarant-cuisines {
    color: #686B78;
    font-size: 12px;
    font-weight:normal;
    margin: 0px;
}

.restuarant-delivery-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #686B78;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    align-self: center;
    margin-bottom: 10px;
    background-color: #686B78;
    padding: 10px;
}

.footer-content-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-image {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.shimmer-container {
    display: flex;
    flex-direction: column;
    margin: 8px 8px; 
    width: 180px;
    height: 270px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #f0f0f0;
}

.shimmer-image-card {
    width: 100%;
    background-color: #ebe6e6;
}

.shimmer-title-card {
    width: 70%;
    background-color: #807b7a;
}

.shimmer-meta-data-card {
    width: 90%;
    background-color: #d9d3d2
}